{% if site.bib_search %}
  <script src="{{ '/assets/js/bibsearch.js' | relative_url | bust_file_cache }}" type="module"></script>
  <input type="text" id="bibsearch" spellcheck="false" autocomplete="off" class="search bibsearch-form-input" placeholder="Type to filter">
 <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 left-side">
        <img src="https://via.placeholder.com/150" alt="Placeholder Image" style="max-width: 100%; height: auto;">
      </div>
      <div class="col-md-6 right-side">
       <h1>Chess</h1>
        <p> 
I am a competitive chess player rated about 1900 USCF. In 2016 I placed second in the Virginia college state championship. If you'd like to play, send me a challenge!</p>
      </div>
    </div>
  <hr>
  
  </div>

{% endif %}
