
<!--nav style="border-bottom: 1px solid #d3d3d324;" class=" overflow-x-hidden  pt-2 ">
    <div class="mx-auto  max-w-9xl">
        <div>
            <h1>LIVINGTECH</h1>
            <p>blog for blog's sake</p>
        </div>
    </div>
    </nav-->
 
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Tailwind CSS CDN -->
       <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>
        <nav  class=" overflow-x-hidden py-6">
            <div class="container mx-auto flex justify-center">
                <div  class="w-5/6 sm:w-4/5 lg:w-9/12 py-5 pt-6 ps-0 lg:ps-20">
                    <h1  class="text-2xl  md:text-4xl lg:text-4xl font-bold tracking-widest ps-0 lg:ps-1">LIVINGTECH</h1>
                    <p class="text-sm lg:text-lg  mt-1 ps-0 lg:ps-1">blog for blog's sake</p>
                </div>
            </div>
        </nav>
        
    </body>
    </html>
    
