<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
<div class="row">
      <div class="col-md-6 text-left">
<div style="border:1px solid black;background:rgb(74, 202, 168);padding:2px;border-radius:50%;width:2%;padding-top:5px;padding-left:6px;padding-right:4px">
<svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p>write all the code</p>
<div style="border:1px solid black;background:rgb(74, 202, 168);padding:2px;border-radius:50%;width:2%;padding-top:5px;padding-left:6px;padding-right:4px">
<svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p>Read books and stuff</p>
<div style="border:1px solid black;background:rgb(74, 202, 168);padding:2px;border-radius:50%;width:2%;padding-top:5px;padding-left:6px;padding-right:4px">
<svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p>Lightning bolt</p>
      </div>
      <div class="col-md-6 text-right">
        <p>Stack small boxes</p>
        <p>Drink much coffee</p>
        <p>Shadow clone technique</p>
      </div>
    </div>
  </a>
</div>
