<div class=" p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
<div class="row">
      <div class="col-md-6 text-left">
        <p>write all the code</p>
        <p>Read books and stuff</p>
        <p>Lightning bolt</p>
      </div>
      <div class="col-md-6 text-right">
        <p>Stack small boxes</p>
        <p>Drink much coffee</p>
        <p>Shadow clone technique</p>
      </div>
    </div>
  </a>
</div>
