<div class=" p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
<div class="row w-100 border" >
      <div class="col-md-6  border">
<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:8%;padding-left:7px;padding-right:15px;padding-bottom:5px">
<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p class="padding-top:3px;padding-left:5px">write all the code</p>
</div>

<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:8%;padding-left:7px;padding-right:15px;padding-bottom:5px">
<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p class="padding-top:3px;padding-left:5px">Read books and stuff</p>
</div>

<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:8%;padding-left:7px;padding-right:15px;padding-bottom:5px">
<svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>bolt</title> <desc>Created with sketchtool.</desc> <g id="weather" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="bolt" fill="#ffffff"> <polygon id="Shape" points="18 2 10 2 6 13 10 13 8 22 17 9 12.0048185 9"> </polygon> </g> </g> </g></svg>
</div>
        <p class="padding-top:3px;padding-left:5px">Lightning bolt</p>
</div>
      </div>
      <div class="col-md-6 text-left">
        <p>Stack small boxes</p>
        <p>Drink much coffee</p>
        <p>Shadow clone technique</p>
      </div>
    </div>
  </a>
</div>
