<div class=" p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
<div class="row w-100 border" >
      <div class="col-md-6 text-left border">
<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:8%;padding-left:7px;padding-right:15px;padding-bottom:5px">
<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p>write all the code</p>
</div>

<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:7%;padding-left:7px;padding-right:10px;padding-bottom:2px">
<svg width="20px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p>Read books and stuff</p>
</div>

<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:7%;padding-left:7px;padding-right:10px;padding-bottom:5px">
<svg width="20px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p>Lightning bolt</p>
</div>
      </div>
      <div class="col-md-6 text-right">
        <p>Stack small boxes</p>
        <p>Drink much coffee</p>
        <p>Shadow clone technique</p>
      </div>
    </div>
  </a>
</div>
