<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
<div class="row">
      <div class="col-md-6 text-left">
        <p>write all the code</p>
        <p>write all the code</p>
        <p>write all the code</p>
      </div>
      <div class="col-md-6 text-right">
        <p>write all the code</p>
        <p>write all the code</p>
        <p>write all the code</p>
      </div>
    </div>
  </a>
</div>
