<div class=" p-2 text-center">

<div class="row w-100 " >
      <div class="col-md-6 ">
<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:8%;padding-left:7px;padding-right:15px;padding-bottom:5px">
<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p style="padding-top:6px;padding-left:20px">Write all the code</p>
</div>

<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:8%;padding-left:7px;padding-right:15px;padding-bottom:5px">
<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p style="padding-top:6px;padding-left:20px">Read books and stuff</p>
</div>

<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:8%;padding-left:7px;padding-right:15px;padding-bottom:5px">
<svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>bolt</title> <desc>Created with sketchtool.</desc> <g id="weather" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="bolt" fill="#ffffff"> <polygon id="Shape" points="18 2 10 2 6 13 10 13 8 22 17 9 12.0048185 9"> </polygon> </g> </g> </g></svg>
</div>
        <p style="padding-top:6px;padding-left:20px">Lightning bolt</p>
</div>
      </div>
      <div class="col-md-6 text-left">
<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:8%;padding-left:7px;padding-right:15px;padding-bottom:5px">
<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p style="padding-top:6px;padding-left:20px">Stack small boxes</p>
</div>
<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:8%;padding-left:7px;padding-right:15px;padding-bottom:5px">
<svg fill="#ffffff" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M442.736,127.332h-13.459V86.551H82.724v110.043c0,33.145,9.393,65.366,27.162,93.176 c8.001,12.523,17.536,23.879,28.312,33.875h52.419h130.766h52.419c10.776-9.996,20.311-21.354,28.313-33.875 c4.893-7.658,9.126-15.659,12.728-23.913h27.894c38.193,0,69.264-31.072,69.264-69.264 C512,158.403,480.928,127.332,442.736,127.332z M442.736,235.44h-17.869c2.902-12.659,4.409-25.677,4.409-38.847v-38.844h13.459 c21.421,0,38.847,17.426,38.847,38.844C481.583,218.014,464.156,235.44,442.736,235.44z"></path> </g> </g> <g> <g> <path d="M328.472,354.062H183.528H0v5.07c0,36.567,29.749,66.318,66.315,66.318h379.369c36.566,0,66.316-29.751,66.316-66.318 v-5.07H328.472z"></path> </g> </g> </g></svg>
</div>
        <p style="padding-top:6px;padding-left:20px">Drink much coffee</p>
</div>
<div style="display: flex;align-items: center;">
<div style="background:rgb(74, 202, 168);padding:1px;border-radius:50%;width:8%;padding-left:7px;padding-right:15px;padding-bottom:5px">
<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
</div>
        <p style="padding-top:6px;padding-left:20px">Shadow clone technique</p>
</div>
      </div>
    </div>
  
</div>
