  
     body {
        background-color: white;
        color: black;
      }
    
      .content {
        background-color: white; /* Light gray background for content */
      }
    
      /* Dark mode styles */
      body.dark-mode {
        background-color: rgb(34, 34, 34); /* Dark background */
        color: white; /* Light text color */
      }
    
      body.dark-mode .content {
        background-color: rgb(34, 34, 34); /* Darker gray for content in dark mode */
      }
      body.dark-mode nav{
        h1{
color:rgb(229, 231, 235)
        }
        p{
color:rgb(209, 213, 219) 
        }
      }
      body.dark-mode .post{
        color:rgb(229, 231, 235)
      }
      body.dark-mode .postcontent{
        color:rgb(209, 213, 219)
      }
      body.dark-mode .content h2{
        color:rgb(229, 231, 235)
      }
      body.dark-mode a{
        color:rgb(229, 231, 235)
      
      }
      body.dark-mode footer{
        color:rgb(209, 213, 219) 

      }
      body.dark-mode .header{
        background-color: rgb(38, 38, 38);
      }
      body.dark-mode .footer{
        background-color: rgb(34, 34, 34);
      }
    
      #moon-icon {
      display: inline-block;
    }
    
    #sun-icon {
      display: none;
    }
    
    /* Toggle icon visibility based on mode */
    body.dark-mode #moon-icon {
      display: none;
    }
    
    body.dark-mode #sun-icon {
      display: inline-block;
    }