---
layout: default
title: home
---


<!--div class="container mx-auto">
    <h1 class="text-3xl font-bold">Latest Posts</h1>

    <div class="posts">
        {% for post in paginator.posts %}
            <div class="post mb-8">
                <h2 class="text-2xl font-semibold">{{ post.subtitle }}</h2>
                <p class="text-gray-700">{{ post.content | truncatewords: 50 }}</p>
                <a href="{{ post.url }}" class="text-blue-500 hover:text-blue-700">Read More</a>
            </div>
        {% endfor %}
    </div>

    <div class="pagination mt-8">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="text-blue-500">Previous</a>
        {% endif %}
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="text-blue-500 ml-4">Next</a>
        {% endif %}
    </div>
</div-->


<div class="container mx-auto w-5/6 sm:w-4/5 lg:w-9/12 lg:ps-6 ps-0">
    <div class=" p-8 md:flex md:justify-between md:space-x-12 lg:space-x-16">
        <!-- Posts Section -->
        <div class="md:flex-1 post">
            <h2 class="text-md font-bold tracking-widest uppercase  mb-10 mt-14">Posts</h2>
            
            <!-- Post Cards Loop -->
            <div class="space-y-8">
                {% for post in site.posts %}
                <div class="mb-24">
                    <p class="text-xs font-bold  tracking-widest">{{ post.date | date: "%B %d, %Y" | upcase  }}</p>
                    <p class="text-3xl font-small mt-1">{{ post.subtitle }} </p>
                    <p class=" mt-7 postcontent">
                      {{ post.content }} </p>
              
                  </div>
                
                  
                   {% endfor %}
            </div>
        </div>
        
        <!-- Sidebar Section -->
        <!-- Sidebar Section -->
<div class="md:mt-0 md:w-2/5 lg:w-2/5 ">
    <div class="ms-6">
    <h2 class="text-sm font-bold tracking-wide uppercase  mb-4  mt-28">Stuff</h2>
            <hr style="border: 0; border-top: 0.5px solid  rgb(68,68,68); margin: 0.5rem 0; width: 100%;">
            <div class="space-y-2">
                {% for stuff in site.data.main.stuffs %}
                <a href="{{stuff.link}}" class=" hover:text-white">{{stuff.name}}</a>
                <hr style="border: 0; border-top: 0.5px solid rgb(68,68,68); margin: 0.5rem 0; width: 100%;">
                {% endfor %}
            </div>

            <!-- Search Form -->
            <div class="relative my-6">
                <form class="max-w-lg mx-auto">
                    <div class="flex">
                        <div class="relative w-full">
                            <input type="search" id="search-dropdown" style="background-color: rgb(51,51,51);border:0.5px solid rgb(85,85,85) "
                                class="block p-3 pb-4 w-full z-20 text-sm text-gray-900  rounded-e-lg   focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" 
                                placeholder="Search..." required />
                            <button type="submit" 
                                class="absolute top-0 right-0 h-full py-0 px-4 text-sm font-medium text-gray-900 rounded-e-sm bg-white hover:bg-gray-100 focus:border dark:bg-gray-700 dark:hover:bg-gray-700">
                                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Archive Section -->
            <h2 class="text-sm font-bold tracking-wide uppercase  mb-4">Archive</h2>
            <hr style="border: 0; border-top: 0.5px solid  rgb(68,68,68); margin: 0.5rem 0; width: 100%;">
            <div class="space-y-2">
                {% for archive in site.data.main.archives %}
                <a href="{{archive.link}}" class=" hover:text-white">{{archive.name}}</a>
                <hr style="border: 0; border-top: 0.5px solid  rgb(68,68,68); margin: 0.5rem 0; width: 100%;">
                {% endfor %}
            </div>
        </div>
</div>
    </div>
</div>

